.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #242424;
}

.form{
  padding: 40px 20px;
  align-items: center;
  background-color: white;
  width: 30%;
  text-align: center;
  margin-left:33%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

input{
  padding: 20px;
  width: 80%;
  background-color: none;
  border:none;
  border-bottom: 2px solid grey;
}

button{
  padding: 15px;
  width: 30%;
  margin: 5px;
  background-color: #242424;  
  border: none;
  font-family: Tahoma;
  font-size: 18px;
  color: white;
}
.profile{
  text-align: center;
  align-items: center;
}

.details{
  background-color: white;
  font-family: Tahoma;
  width: 30%;
  padding: 40px;
  align-self: center;
  margin-left: 32%;
}

.error{
  color: red;
  margin: 0%;
}

.heading{
  font-family: Tahoma;
  margin-top: 6%;
  text-transform: uppercase;
  color: white;
  font-size: 48px;
}

button:hover{
  background-color: #2f88b1;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

input:focus{
  outline: none;
  border: none;
  border-bottom: 2px solid #2f88b1; 
}
input:focus::-webkit-input-placeholder {
    color: #2f88b1;
}

table{
  border: 1px solid;
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
}

th, td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
}
th{
  background-color: rgb(200, 200, 200);

}
td{
  background-color: white;
  
}


@media screen and (max-width:600px){
  .form{
    align-items: center;
    background-color: white;
    width: 85%;
    text-align: center;
    margin-left:1.5%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  .heading{
    margin-top:5%;
    font-size: 40px;
  }
  input{
    width: 85%;
  }
  button{
    width: 30%;
  }
  table{
    margin-left: 0%;
  }
.details{
  margin-left: 5%;
  width: 65%;
}
}